<% image_src = image || 'https://source.unsplash.com/random/300×300' %>
<div class="flex items-center justify-center">
  <div class="max-w-sm rounded overflow-hidden shadow-lg mb-2">
    <%= link_to link, target: '_blank' do %>
      <img class="w-full" src="<%= image_src %>" alt="">
    <% end %>
    <div class="px-6 py-4">
      <div class="font-bold text-xl mb-2"><%= title %></div>
      <div class="font-bold text-sm mb-2">
        Du <%= l(starting_date.to_datetime, locale: params[:locale]) %> au <%= l(ending_date.to_datetime, locale: params[:locale])  %>
      </div>
      <p class="text-gray-700 text-base mb-2">
        <%= body %><br>
      </p>
      <div class="font-bold text-sm mb-2"><%= address %></div>
      <% if tags %>
        <div class="flex flex-wrap pt-2">
          <% tags.each do |tag| %>
            <span class="bg-gray-300 rounded-full px-2 py-1 mb-2 mr-2">
              <%= tag %>
            </span>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
</div>
