<div class="w-full flex items-center justify-center py-6">
 <%= link_to "New Post", new_post_path, data: { turbo: true }, class: 'text-center bg-transparent hover:bg-blue-500 text-blue-700 font-semibold hover:text-white py-2 px-4 border border-blue-500 hover:border-transparent rounded' %>
</div>
<div class="w-full flex items-center justify-center pb-6">
  <%= turbo_frame_tag :filters, class:'w-full' do %>
    <%= form_with url: posts_filters_path, data: { "turbo-frame" => "_top" } do |f| %>
      <div class="w-full flex flex-wrap justify-around align-center">
        <%# <div class="relative my-4 border-b-2 focus-within:border-blue-500">
          <input type="text" name="username" placeholder=" " class="block w-full appearance-none focus:outline-none bg-transparent" />
          <label for="username" class="absolute top-0 -z-1 duration-300 origin-0">Username</label>
        </div> %>
        <div class="relative my-4 border-b-2 focus-within:border-blue-500">
          <%#= f.text_field :title, class: 'block w-full appearance-none focus:outline-none bg-transparent', placeholder:" " %>
          <%= f.text_field :title, class: 'block w-full appearance-none focus:outline-none bg-transparent border-none', placeholder:"" %>
          <%= f.label :title, class: 'absolute top-0 -z-1 duration-300 origin-0', placeholder: ' ' %>
        </div>
        <div class="relative my-4 border-b-2 focus-within:border-blue-500">
          <%= f.date_field :starting_date, class: 'block w-full appearance-none focus:outline-none bg-transparent border-none' %>
          <%= f.label :starting_date, class: 'absolute top-0 -z-1 duration-300 origin-0' %>
        </div>
        <div class="relative my-4 border-b-2 focus-within:border-blue-500">
          <%= f.date_field :ending_date, class: 'block w-full appearance-none focus:outline-none bg-transparent border-none' %>
          <%= f.label :ending_date, class: 'absolute top-0 -z-1 duration-300 origin-0' %>
        </div>
      </div>
    <% end %>
  <% end %>
</div>


<div class="container mx-auto">
  <%= turbo_frame_tag :posts do %>
    <%= render @posts %>

    <% @events.each do |event| %>
      <%= render 'posts/event', event: event %>
    <% end %>

    <% if @events.count.zero? && @posts.count.zero? %>
      <div class="w-full flex justify-center items-center">
        <p> No events found, try playing with the filters!</p>
      </div>
    <% end %>
  <% end %>
</div>
