<!DOCTYPE html>
<html>
  <head>
    <%= favicon_link_tag %>
    <title>What to Do in Paris - Trouver les évènements gratuits près de chez vous</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="description" content="<%= meta_description %>">

    <!-- Facebook Open Graph data -->
    <meta property="og:title" content="<%= meta_title %>" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="<%= request.original_url %>" />
    <meta property="og:image" content="<%= meta_image %>" />
    <meta property="og:description" content="<%= meta_description %>" />
    <meta property="og:site_name" content="<%= meta_title %>" />

    <!-- Twitter Card data -->
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="<%= DEFAULT_META["twitter_account"] %>">
    <meta name="twitter:title" content="<%= meta_title %>">
    <meta name="twitter:description" content="<%= meta_description %>">
    <meta name="twitter:creator" content="<%= DEFAULT_META["twitter_account"] %>">
    <meta name="twitter:image:src" content="<%= meta_image %>">

    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/slim-select/1.27.1/slimselect.min.css" rel="stylesheet"></link>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <%= turbo_frame_tag :main do %>
      <%= turbo_frame_tag :flash do %>
        <%= render 'shared/flash' %>
      <% end %>
      <%= yield %>
    <% end %>
    <div class="flex justify-center align-center">
      Remerciement à la <u><%= link_to 'ville de Paris', 'https://opendata.paris.fr/', class:'cursor-pointer'%></u>
    </div>
    <div class="flex justify-center align-center">
      et à son jeu de données.
    </div>
  </body>
</html>
