<!DOCTYPE html>
<html>
  <head>
    <title>What to Do in Paris</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>
    <%#= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/slim-select/1.27.1/slimselect.min.css" rel="stylesheet"></link>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <%= turbo_frame_tag :main do %>
      <%= turbo_frame_tag :flash do %>
        <%= render 'shared/flash' %>
      <% end %>
      <%= yield %>
    <% end %>
    <div class="flex justify-center align-center">
      Remerciement aux données de la <u><%= link_to 'ville de Paris', 'https://opendata.paris.fr/', class:'ml-1 cursor-pointer'%></u>
    </div>
  </body>
</html>
